/* You can add global styles to this file, and also import other style files */
%d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #3d4c75;
  @extend %d-center;
}
@import "./../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "./../node_modules/bootstrap/dist/css/bootstrap.min.css";
